# compiled program and data
# may include private information
prog/
bin/
obj/
build/
lib/
*.bin
*.exe

# compiled .o files
*.o

# cmake files
/CMakeFiles/
/CMakeCache.txt
/_deps/
/Makefile

# other

/*.txt
!/CMakeLists.txt

# files starting with dot except .gitignore
.*
!.gitignore
